
.icon-common-use {
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	vertical-align: middle;

	&:before {
		content: '';
		position: absolute;
	}

	&:after {
		content: '';
		position: absolute;
	}
}

.icon-wh-16 {
	width: em($font-size-base);
	height: em($font-size-base);
}
